<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <H1>Passwordless - Example: Simple-Mail</H1>
    <p>
      User: <% if(user) { %> <%= user %> (<a href="/logout">logout</a>) <% }
      else { %> Not logged in <% } %>
    </p>
    <ul>
      <li>
        <a href="/login">Login / Register</a>
      </li>
      <li>
        <a href="/restricted">Restricted page</a>
      </li>
    </ul>
  </body>
</html>
