<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="hero-image">
    <h1>Customer Decision Collector</h1>
    <br />
    <h3>
      User: <% if(user) { %> <%= user %> (<a href="/logout">logout</a>) <% }
      else { %> Not logged in <% } %>
    </h3>
    <br />
    <h4>
      <a href="/login">Login / Register</a>
    </h4>
    <br />
    <h4>
      <a href="/question">Question page</a>
    </h4>
  </body>
</html>
