<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="hero-image">
    <h1>Customer Decision Collector</h1>
    <br />
    <p>
      User: <% if(user) { %> <%= user %> (<a href="/logout">logout</a>) <% }
      else { %> Not logged in <% } %>
    </p>
    <br />
    <p>
      <a href="/login">Login / Register</a>
    </p>
    <p>
      <a href="/restricted">Restricted page</a>
    </p>
  </body>
</html>
