<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="text-center form-signin-body">
    <form class="form-signin" action="/sendtoken" method="POST">
      <img
        class="mb-4"
        src="./images/sign-in.png"
        alt=""
        width="72"
        height="72"
      />
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input
        name="user"
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Email address"
        required
        autofocus
      />
      <br />
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign in
      </button>
      <br />
      <br />
      <row>
        <a href="/">Back to homepage</a>
      </row>
    </form>
  </body>
</html>
