<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="hero-image">
    <h1>Email sent</h1>
    <br />
    <h3>Please check your inbox and click on the link provided</h3>
    <br />
    <h4>
      <a href="/">Back to homepage</a>
    </h4>
  </body>
</html>
